@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');




/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-info {
  display: flex;
  flex-direction: column;
}

.main-info__current-currency {
  margin-top: 40px;
}

.bitcoinInfo {
  display: flex;
  justify-content: space-around;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.table {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 40px;
  width: 600px;
  height: 200px;
  border: 2px solid black;
}

  .table_column {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid #f1356d;
  }

    .rows {
      height: 100%;
      border-bottom: 1px solid #f1356d;
    }

