@import '~antd/dist/antd.css';

.ant-select-selector {
  border: none;
  border-radius: none;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: Releway, sans-serif;
}

.block_1136 {
  width: 1136px;
  margin: 0px auto;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-info {
  display: flex;
  flex-direction: column;
}



.bitcoinInfo {
  display: flex;
  justify-content: space-around;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}



